#accordion_5{
    padding: 70px 0;
    background-color: #000;
}
#accordion_5 .accordion .accordion-button::after{
    content: "\f64d";
    font-family: bootstrap-icons !important;
    background: none;
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
}
#accordion_5 .accordion .accordion-button:not(.collapsed)::after{
    content: "\f63b";
    color: #a283b4;
}
#accordion_5 .accordion .accordion-button, #accordion_5 .accordion .accordion-body{
    padding-left: 45px;
    background-color: #000;
    box-shadow: none;
    border-radius: 0;
}
#accordion_5 .accordion .accordion-button{
    color: #fff;
    background: #252525;
}
#accordion_5 .accordion .accordion-body p{
    color: #fff;
    margin: 0;
    opacity: 0.7;
}
#accordion_5 .accordion .accordion-item{
    border-radius: 0;
    margin-bottom: 30px;
    border: 0px solid #000;
    background-color: #000;
}
#accordion_5 .heading{
    text-align: center;
    margin-bottom: 30px;
}
#accordion_5 .heading h2{
    margin-bottom: 50px;
    color: #fff;
}
#accordion_5 .img_content{
    position: relative;
}
#accordion_5 .img_content img{
    width: 100%;
    min-height: 400px;
    object-fit: cover;
}
#accordion_5 .img_content .text{
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    width: 80%;
    justify-content: space-between;
    background: #333;
    padding: 25px;
    border-radius: 10px;
    color: #fff;
    align-items: center;
}
#accordion_5 .img_content .text h4{
    margin: 0;
    text-transform: capitalize;
}
#accordion_5 .img_content .text a.btn{
    border-radius: 5px;
    background: #333;
    border: 1px solid #6b6b6b;
    padding: 10px 25px;
    transition: all .4s;
    font-weight: 600;
}
#accordion_5 .img_content .text a.btn:hover{
    background: #a283b4;
    border-color: #a283b4;
    color: #fff;
}
#accordion_5 .accordion .accordion-item:last-child{
    margin-bottom: 0;
}
@media (max-width: 991px){
    #accordion_5 .img_content{
       margin-bottom: 30px;
   }
}